@import "../../";

.main-movie {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  min-height: 100vh;
  padding-bottom: 50px;

  .container {
    @include flex;
    margin: 0 auto;
    flex-direction: column;

    #movies {
      display: grid;
      $size: calc(100% / 5);
      grid-template-columns: $size $size $size $size $size;
      row-gap: 50px;

      div {
        padding: 0 10px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          scale: 1.05;
        }

        img {
          width: 100%;
          aspect-ratio: 1/1.5;
          object-fit: cover;
          object-position: center;
          border-radius: 10px;
        }

        h3 {
          font-size: 1em;
          font-weight: 400;
        }
      }
    }
  }
}
